body{
  background-color: black;
}

.contentWrapper{
  margin: 5%;
}

.quoteWrapper {
  display: flex;
margin-bottom: 20px;
}

.quote {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  font-family: 'Vollkorn', serif;
  /* text-transform: uppercase; */
}

.authorWrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.author{
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  font-family: 'Vollkorn', serif;
  text-align: center;
  /* text-transform: uppercase; */
}

#footnote {
  bottom: 10px;
  color: #aaa;
  font-size: 12px;
  position: fixed;
  margin-left: 10px;
  right: 10px;
}

.alink{
  color: #ccc;
}